#mainContainer {
	display: flex;
	flex-direction: column;
}
#allRoles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
    font-weight: 900;
}
.showNodes {
	border-style: outset;
    border-width: 3px;
    border-color: teal;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
#totalNumber {
    margin-left: 10px;
    font-weight: 900;
}
.lineNode {
    display: flex;
    align-items: center;
 	background: rgba(220, 223, 242, 1);
 	border-style: solid;
    border-width: 1px;
    border-color: teal;
    /*padding: 1px;*/
    font-size: 12px;
    font-weight: 900;
    order:10;
}
.abilityContainer {
	display: flex;
	flex-direction: row;
	order: 5;
}
.abilityNode {
	width: 210px;
	border-style: solid;
    border-width: 1px;
    border-color: teal;
    /*margin: 5px;*/
    /*padding: 3px;*/
    border-radius: 5px;
    margin-right: 3px;
    
}
.propertyNode {
	border-style: solid;
    border-width: 2px;
    border-color: teal;
    margin: 1px 15px;
    padding: 1px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    order: 1;
}
.roleContainer {
    display: flex;
    align-items: center;
    order: 3;
    width: 47%
}
.roleNode {
	border-style: outset;
    border-width: 3px;
    border-color: teal;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.roleNode-active {
	background: rgba(220, 104, 75, 0.4);
}

.display-None {
	display: none;
}
